@charset "utf-8";
.banner {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.banner>.img {
    width: 999999px;
    height: 100%;
    position: absolute;
}

.banner>.img>img {
    width: 600px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.banner>.dir>span {
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    font-size: 4em;
    line-height: 80px;
    color: #fff;
    background: rgba(10, 0, 0, 0.356);
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.banner>.dir>span:hover {
    background: rgba(10, 0, 0, 0.692);
}

.banner>.dir>span:nth-of-type(1) {
    left: 5%;
}

.banner>.dir>span:nth-of-type(2) {
    right: 5%;
}

.banner>.rounds {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.banner>.rounds>span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(29, 13, 13, 0.322);
    border-radius: 50%;
    cursor: pointer;
}

.banner>.rounds>.checked {
    background: rgb(235, 235, 104);
}